PG_USERNAME=#REPLACE WITH POSTGRES USERNAME
PG_PASSWORD=#REPLACE WITH POSTGRES PASSWORD (OR NONE)
PG_DB_NAME=#REPLACE WITH POSTGRES DATABASE NAME

#Security-Related
JWT_SECRET_KEY=#HMAC hash string of 256 bits, aka 44 Base64 characters minimum (could use this website: https://www.devglan.com/online-tools/hmac-sha256-online?ref=blog.tericcabrel.com)
JWT_EXPIRATION_TIME=#HOW LONG THE JSON WEB TOKEN IS VALID FOR (in milliseconds)